@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .btn-primary {
    @apply inline-block rounded-full bg-yellow-400 px-4 py-3 font-semibold tracking-wider outline-none transition-all duration-300 hover:bg-yellow-300 focus:ring focus:ring-yellow-500 focus:ring-offset-2 active:scale-95 active:ring-0 disabled:cursor-not-allowed disabled:opacity-70 disabled:hover:bg-yellow-400 disabled:active:scale-100 md:px-6 md:py-4;
  }

  .form-control {
    @apply mb-5 flex flex-col gap-2 md:flex-row md:items-center;
  }

  .input-control {
    @apply inline-block w-full rounded-full px-4 py-3 text-sm outline-none transition duration-300 focus:ring-4 focus:ring-yellow-500/40 sm:text-base;
  }

  /* loader css  */
  .bars {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: b1 1s infinite linear;
  }
  @keyframes b1 {
    0% {
      background-size:
        20% 100%,
        20% 100%,
        20% 100%;
    }
    33% {
      background-size:
        20% 10%,
        20% 100%,
        20% 100%;
    }
    50% {
      background-size:
        20% 100%,
        20% 10%,
        20% 100%;
    }
    66% {
      background-size:
        20% 100%,
        20% 100%,
        20% 10%;
    }
    100% {
      background-size:
        20% 100%,
        20% 100%,
        20% 100%;
    }
  }

  /* spinner css */
  .spinner {
    width: 30px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #a16207;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {
    to {
      transform: rotate(1turn);
    }
  }
}
